.middle-row {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
}

.middle-left {
  display: flex;
}

.middle-left > p {
  font-family: Arial, Helvetica, sans-serif;
}

.title-text2 {
  margin-left: 5px;

}

.LA1 {
  color: rgb(77, 77, 77);
}

.M2 {
  margin-top: -20px;
  color: rgb(65, 79, 107);
}

.links {
  display: flex;
}

.links > p {
  margin-right: 30%;
  font-style: italic;
  color: rgb(65,79,107);
  text-decoration: underline;
  text-decoration-color: rgb(65, 79, 107):;
}

.background2 {
  position: absolute;
  margin-top: 60px;
  height: 90vh;
  width: 100vw;
  z-index: -1;
}

.mountain {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.main-text {
  margin-left: 20%;
}

.body-number {
  display: flex;
}

.body-number > h1.number {
  font-size: 7rem;
  color: rgb(112, 127,154);
  opacity: 2;
}

.body-number > .title-text {
  margin-top: 135px;
  margin-left: -23px;
  color: rgb(10, 34, 82);
  font-size: 1.3rem;

}

.main-text > p {
  margin-top: -90px;
  margin-left: 70px;
  margin-right: 30%;
}

.carousel {
  display: flex;
  flex-direction: column;
  background: rgb(55,67,90);
  position: absolute;
  bottom: 10px;
  opacity: .90;
  width: 100vw;
  height: 200px;
}

.selectors > img {
  display:block;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  height: 150px;
  width: 250px;
}

#buttons {
  display: block;
  margin-top: 3px;
  margin-right: auto;
  margin-left: auto;
}

#buttons > i {
  font-size: 2rem;
}

.hidden {
  display: none !important;
}
